<!----<div class="container">
  <h3 class="text-center">Registro de Detalle de Vacunas</h3>
  <form (ngSubmit) = "onSubmitForm()">

  <div class="form-group">
      <label>Username: </label>
      <input type="text"
      class ="form-control"
      id = "username"
      [(ngModel)] = "workers.username"
      required
      name="username">
  </div>

  <div class="form-group">
        <label>Password: </label>
        <input type="password"
        class ="form-control"
        id = "password"
        [(ngModel)] = "workers.password"
        required
        name="workers">
  </div>

  <div class="form-group">
    <label>Fullname: </label>
    <input type="fullname"
    class ="form-control"
    id = "fullname"
    [(ngModel)] = "workers.fullname"
    required
    name="fullname">
</div>

<div class="form-group">
  <label>Fullname: </label>
  <input type="fullname"
  class ="form-control"
  id = "fullname"
  [(ngModel)] = "workers.fullname"
  required
  name="fullname">
</div>


    <button class = "btn btn-success" type="submit">Submit</button>

</form>-->




