<div class="container">
 <div class="container_1">
  <i class="fa-solid fa-user"></i>
 <div class="container_2">
  <p class="title">NAME: </p>
  <p>{{ persons.name }}</p>
  <p class="title">LASTNAME: </p>
  <p>{{ persons.lastname }}</p>
  <p class="title">BIRTHDAY: </p>
  <p>{{ persons.birthday }}</p>
  <p class="title">EMAIL: </p>
  <p>{{ persons.email }}</p>
  <p class="title">JOB: </p>
  <p>{{ persons.job }}</p>
  <p class="title">DATE: </p>
  <p>{{ persons.birthday }}</p>
  <p class="title">SEX: </p>
  <p>{{ persons.sex }}</p>
</div>
 </div>
</div>
