<div class="container">
  <div class="container_1" routerLink="/vacunas">
     <p>VACUNAS</p>
     <i class="fa-solid fa-syringe"></i>
  </div>

  <div class="container_1" routerLink="/centros">
    <p>CENTROS DE VACUNACION</p>
    <i class="fa-solid fa-hospital"></i>
 </div>

  <div class="container_1" routerLink="/personas">
    <p>PERSONAS</p>
    <i class="fa-solid fa-user"></i>
 </div>


 <div class="container_1" routerLink="/roles">
  <p>ROLES</p>
  <i class="fa-solid fa-user-doctor"></i>
</div>

<div class="container_1">
  <p>TRABAJADORES</p>
  <i class="fa-solid fa-syringe"></i>
</div>
</div>
